# Composer.
/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
console/

# Development.
local.settings.php
local.services.yml
local
tmp
private
.drush
drush-backups
.console
/.editorconfig
default.services.yml
default.settings.php
/web/sites/simpletest
/.idea/
/.env
