<phpunit bootstrap="web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://lecapi.lndo.site"/>
    <env name="SIMPLETEST_DB" value="mysql://drupal9:drupal9@localhost/drupal9"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/app/web/sites/simpletest"/>
  </php>
  <testsuites>
    <testsuites>
      <testsuite name="unit">
        <directory>./web/modules/custom/*/tests/src/Unit</directory>
        <directory>./web/profiles/custom/*/tests/src/Unit</directory>
      </testsuite>
      <testsuite name="kernel">
        <directory>./web/modules/custom/*/tests/src/Kernel</directory>
        <directory>./web/profiles/custom/*/tests/src/Kernel</directory>
      </testsuite>
      <testsuite name="functional">
        <directory>./web/modules/custom/*/tests/src/Functional</directory>
        <directory>./web/profiles/custom/*/tests/src/Functional</directory>
      </testsuite>
    </testsuites>
  </testsuites>
</phpunit>

