{%
  set classes = [
  has_parent ? 'js-form-wrapper',
  has_parent ? 'form-wrapper'
]
%}

{# See CaasParagraphsWidget::formElement for how other classes are added. #}
<div{{ attributes.addClass(classes) }}>{{ children }}</div>
