// Font sizes
$base-font-size: 16px;

// Colors
$blue: #182B49;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #F68A1E;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #E5E3E3;
$gray-dark: #343a40;
$gray-light: #f2f3f8;
$gray-eb: #ebedf2;
$success: #34bfa3;
$info: #36a3f7;
$warning: #ffb822;
$danger: #f4516c;
$light: #f8f9fa;
$dark: #343a40;

$black: #111;
$silver: #ccc;
$pigeon-post: #aec9de;

$primary-color: $blue;
$secondary-color: $orange;
// Font
$quick-sand: 'Quicksand', sans-serif;

$base-font: $quick-sand;
$heading-font: $quick-sand;

// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 990px;
$xl: 1200px;

// Container width
$container: 1190px;
