.banner {
  text-align: center;
  position: relative;

  &__title {
    text-transform: uppercase;
    font-size: rem(30px);
    margin-top: 0;
    font-weight: bold;
  }

  &__text {
    font-size: rem(20px);

    @include miw($lg) {
      font-size: rem(40px);
    }
  }

  &__image {
    width: 100%;
  }

  &__button {
    display: inline-block;
    padding: rem(10px) rem(20px);
    background-color: $indigo;
    color: $white;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      background-color: $orange;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

